@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist), system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, monospace;
  --font-pixel: var(--font-geist-pixel), monospace;
}

:root {
  color-scheme: dark;

  --bg: #161616;
  --bg-surface: #333;
  --bg-surface-hover: #3f3f3f;

  --bg-input: #2a2a2a;
  --bg-input-hover: #3a3a3a;

  --text: #fff;
  --text-muted: #555;
  --text-link: #8320fd;

  --button-bg: #8320fd;
  --button-bg-hover: color-mix(in oklch, var(--button-bg) 85%, white);
}

body {
  font-family: var(--font-sans);
  background-color: var(--bg);
  color: var(--text);
}